# **Variable**:
a named holder of a *value*
### **Datatype**:
variables come in different datatypes:
- str: string is text in quotes
- int: integer (whole number, pos or neg)
- float: number with decimal point
- bool: boolean (True of False)
- list: multiple values in one variable  

**Markdown** is for explaining what the code does!

## **Hello World**

In [1]:
# print the standard first msg:

## **String (str)**

In [2]:
# comments are written with code but are not run as code
# comments are preceded by a hash tag / pound sign

# 1. Declare a few string variables and assign values w =
# string values go in quotes
# camel case (is more a JS thing)


# = is the Assignment Operator
# value at right is assigned to variable at left
# var_name = some_value

### **variable naming rules vs. conventions**
**rules** must be followed or your code breaks
- no spaces in var names
- no special chars or punc (only letters, digits and underscore)
- cannot start with a number (**1day** is bad; **day1** or **_1day** are good)
- cannot use reserved words as var names (no print, str, len, input, type, etc.)
  - if you mess up by using a reserved word, such as input, as a variable name, you must re-start the session; choose **Runtime > Restart session and run all**.
  

**conventions** are best practices, but do NOT break your code when violated

- use "snake case" (first_name) instead of "camel case" (firstName)
- keep names short, yet meaningful (t is too short, employee_telephone_number is too long; tel or emp_tel is better)
- all lowercase (first_name not First_name)
- constants are all uppercase (NYC_SALES_TAX), meaning value is not to be changed

### **print(input)**
built-in function that prints its input

In [3]:
# 2. Print the names:
print(first_name, lastName)

NameError: name 'first_name' is not defined

### **concatenation with + operator**
combining 2+ strings into one bigger string

In [ ]:
# 3. Make a var w concatenated value:

Brian McClain

In [ ]:
# 4. Challenge: declare a var called name_tag
# when printed , it should introduce yourself:
# Hello! My name is Brian McClain
# Hint: Use + to concatenate the name tag string from existing variables
# mixed with sub-strings, such as: "Hello! My name is "

Hello! My name is Brian McClain!

- **type(var)** returns the datatype of the **var**
- **function(argument)** the input of a function is the **argument**
- the "answer" is known as the **return value**

- **len(str)** returns the number of chars in a string
- **len(list)** returns the number of items in a list

In [ ]:
# 5. Print the datatype of name_tag
# 'apple','banana','cherry'

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
False
3
5
True
True
False
True
False

In [ ]:
# 6. Challenge: Print the the number of chars in name_tag
#    and print a check to see if that number is greater than 30 
#    (True or False)
name_len = len(name_tag)
print("Number of chars in name tag:")
print("More than 30 chars?")
print("More than 35 chars?")

Number of chars in name tag: 32
More than 30 chars? True
More than 35 chars? False

#### resolving nested string quote conflicts

In [ ]:
# 7. Declare a string that contains an apostrophe:
# to avoid nested quote conflict error
# client_name = 'Jane O'Brien'
# print(client_name)

# A.) mix-and-match quotes:


# B.) escape nested quote w backslash \


# reverse version: string in double quotes:
# mix and match -- keep the double quotes for 
# the actual spoken dialogue
# 'He said: "Give me my money!"'

# escape 
# "He said: \"Give me my money!\""


# if you have BOTH single and double quotes in the string, just escape on the conflicting one
# 'O\'Neal said: "Give me my money!"'
print()
statement = "'O'Neal said: \"Give me my money!\""


# Triple-Doubles """ ESCAPE EVERYTHING:
# AND allows tabs and line breaks, which regular
# string quotes do NOT allow:

    # O'Neal said: "Give me my money!", 
    # O'Malley said: "Nothin' doin'!


# save triple-doubles for complex strings with lots of interior conflicting quotes; else it is overkill:
print()

Jane O'Brien
Jane O'Brien
He said: "Give me my money!"
He said: "Give me my money!"
O'Neal said: "Give me my money!"
'O'Neal said: "Give me my money!"

    O'Neal said: "Give me my money!",
    O'Malley said: "Nothin' doin'!

Hello World

**str[index]** gets the char at numeric position
- **str[0]** is the first char of a string
- **str[-1]** is the last char of a string

**list[index]** gets the item at numeric position
- **list[0]** is the first item of a list
- **list[-1]** is the last item of a list

In [ ]:
# 'apple','banana','cherry'
# 3
# get first item in fruits
# apple
# get last item in fruits
# cherry
# cherry


# challenge: get the "b" and "y" in "bunny"..


# get the middle letter of any str:
# "cherryonthesundae"


# int(float) and rounds it down
print("mid_pt:") # 14
print("mid char:") # r

3
apple
cherry
cherry
5
b
u
y
mid_pt: 8.5
mid_pt: 8
mid char: t

## **Integer (int) and Decimal (float)**

In [ ]:
# 8. Declare an integer (whole number) variable:
# 8.875 %
# float
# uppercase constants (not to be changed)
# numbers in quotes are strings, call 'em digits
# 2
# convert stringy num to actual num:
# str 
# int can only convert stringy digits or floats to int:
# int() throws away / truncates decimal

# round(float) rounds off properly:

65 <class 'int'>
0.0875 <class 'float'>
 57  <class 'str'>
4
57 <class 'int'>
565 <class 'int'>
49 <class 'int'>
50 <class 'int'>

### **Math Operators**
### +  -   *  /  **  % //
- ** is for exponents (x ** 3 = 125)
- % is modulus operator: n1 % n2 returns remainder of n1 / n2
- // rounds down, so is like int()

In [ ]:
# 9. Take the math operators for a spin:



# expression: setting a var's value in terms of another var
# 'mod 2' provides a way to check odd vs even

x: 5
y: 8
y: 3
y: 35
y: 2.5
y: 25
1

### stringy numbers: digits of string datatype

In [ ]:
# 10. Declare a "stringy number" and an actual number
#     and try to add them together:
# int or str ??


# test_score = test_score + bonus


# can only do math with actual numbers (NO stringy numbers)
# conversely, can only do concatenation with strings:
# score_report = "Your test score: " + revised_score
# print(score_report)
# to concatenate with number, convert num to string with str()

91
91
Your test score: 91

- **int(stringy_number)** converts stringy number to integer
- **float(stringy_number)** converts stringy number to float
- **str(number)** converts number to stringy number for concatenation

In [ ]:
# 11. Add score and bonus again, but convert score to int:

print() # int or str ??

# 98

# 101.0

# stringify all to get 953
# 953

In [ ]:
# 12. Do other math ops with stringy num: they fail too:

# reduce test_score by 10; expected result: 85

# increase by 10%

- **str(number)** converts number to stringy number (for concatenation)

In [ ]:
# 13. Likewise, you cannot mix nums and str in concatenation:
#.    So, convert nums into strings with str()
# "Your SAT scores: \nMath:\t"

Your SAT scores:
Math:	700
Verbal:	650

## **input("Score:")**
- input() gives a text box to type in
- pass input() the text box label
- set input() equal to variable to save the input

In [ ]:
# 14. Set an input() text box equal to a variable

In [ ]:
# 15. Print the value of the variable and the datatype

670 <class 'int'>
650 <class 'int'>

In [ ]:
# get combined SAT score

print("combined_sat_score:")

combined_sat_score: 1320

In [ ]:
# given total movie minutes

# calculate IMDB style run time: 2h 19m
# how to get the 2 and the 19 ??
# first the 2:

print('imdb_time:')

hrs: 2
mins: 19
imdb_time: 2h 19m

### **round(float, num_decimal_places)**

In [ ]:
# import the Math module so we can have PI

In [ ]:

print('PI:') # 3.141592653589793

PI: 3.141592653589793

In [ ]:
# 16B. Round off a number and an input:

3.14

## **Cafe Bill Calcuator**

In [ ]:
# 17. Make 3 inputs to capture food, bev and tip
 # 15
 # 0.0875


# expected output: Total: $123.88
# bonus: itemized bill: print all vars
# Python Cafe Guest Check
# Food: $65
# Bev: $35
# 2Sub-tot: $100
# TAX % : 8.875
# Tax: $8.88
# Tip % : 15
# Tip: $15
# Please Pay: $123.88

Food:  $67.60
Bev:  $78.65
Tip:  22.00%
Tax:  8.875%
Sub-tot:  $146.25
Please Pay $191.40

### **'{:,.2f}'.format(x)** vs **round(x,2)**

## **Boolean**
- variable value can only be **True** or **False**
- var name should suggest that it's a boolean

In [ ]:
# 19. Declare two booleans, one of each value:
# False
# True

print("is_online:")

print("logged_in:")


print("logged_in:")

print("logged_in:")

False
True
is_online: True
logged_in: False
is_online: False
logged_in: True
logged_in: True

#### **not** operator flips boolean

In [ ]:
# 20. To flip / toggle a boolean use not operator
# why is this not so great ?
# 21. Flip the booleans using not operator:
print("is_online:")
print("is_online:")

print("logged_in:")

print("logged_in:")
# explicitly setting boolean value requires you to know current value

print("logged_in:")

print("logged_in:")
print("logged_in:")

print("logged_in:")

is_online: False
is_online: True
logged_in: True
logged_in: False
logged_in: True
logged_in: False
logged_in: True
logged_in: False

### **boolean operators** compare 2 values and return **True** or **False**
### boolean operators include: **<, >, <=, >=, ==, !=**

In [ ]:
# boolean operators compare 2 values and return a boolean
# operators include , > <= >= == !=
# comparison operators return a boolean
# False

True
False
True
True
True
False

## **List** stores more than one value in same var name
- list items go in [ ] square brackets
- list items are comma-separated
- list items are stored by numeric order (index)
- 1st item in a list is at index 0
- last item is at index -1
- a list is a **vector**, that is, a 1D structure, like a line

In [ ]:
# 22. Declare a list of strings
# 'bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana'

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']

**len(list)** returns the number of items in a list

In [ ]:
print(len(pets))

6

**list[index]** gets the item at numeric position
- **list[0]** is the first item of a list
- **list[-1]** is the last item of a list

In [ ]:
# challenge: get the indicated items from pets list

# use negative indexing for items near the end:

bunny
iguana
dog
hamster

**list[start_index:end_index_excl]** gets the items from start to end indices
- **list[index:]** gets all items from index to end of list
- **list[0:index]** , **list[:index]** gets all items from start of list to index exclusive

In [ ]:
# CHALLENGE: on your own:

# first 3 items: ['bunny', 'cat', 'dog']
# ['dog', 'gerbil', 'hamster']
# last 3 items: ['gerbil', 'hamster', 'iguana']
# get all but first and last items: ['canary', 'dog', 'gerbil', 'hamster']


# [::] is ALL

# [::2] is EVERY OTHER ITEM
# start from beginning, go to end, every other one
# 2 is the STEP
# start from 2nd item, go to end, every other one
# 2 is the STEP
# [::-1] start at end, go to beginning (go in reverse)
# -1 is the BACKWARD STEP
# [::-1] start at end, go to beginning (go in reverse)
# -2 is the BACKWARD SKIPPING STEP

['bunny', 'cat', 'dog']
['dog', 'gerbil', 'hamster']
['gerbil', 'hamster', 'iguana']
['cat', 'dog', 'gerbil', 'hamster']
['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']
['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']
['bunny', 'dog', 'hamster']
['cat', 'gerbil', 'iguana']
['iguana', 'hamster', 'gerbil', 'dog', 'cat', 'bunny']
['iguana', 'gerbil', 'cat']

### **methods** are functions that are called on objects
- a method is preceded by a dot: **variable.method()**
- methods may or may not **return** a value
- list methods include **append(), pop(), sort()**, among others
  - **list.append(item)** adds item to end of list
  - **list.pop()** removes last item from list and returns it
  - **list.pop(index)** removes and returns item at specified index
  - **list.sort()** alphabetizes list of strings; puts numbers in ascending order
  - **list.extend(list)** adds a list to another list
  - **list.reverse()** reverses the order of items in a list
  - **list.remove(item)** removes the item from list, wherever it may be
  - **list.index(item)** returns the index of the item
  - **list.insert(index,item)** adds item to list at index
  - **list.copy()** returns an independent copy of list

In [ ]:
pets = ['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']

In [ ]:
# 23. Use append() to add a pet to the end of the list:
# 'chameleon'

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon']

In [ ]:
# add gold fish to end of list
# 'gold fish'

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon', 'gold fish']

In [ ]:
# pets.append('canary','python','tarantula')

# ERROR: list.append() takes exactly one argument (3 given)

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon', 'gold fish']

In [ ]:
# add them as a list which is just one item:
# 'canary','python','tarantula'

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon', 'gold fish', ['canary', 'python', 'tarantula']]

In [ ]:
# 24. Remove the unwanted nested list:

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon', 'gold fish']

In [ ]:
# 25. To add a list to another, keeping it flat, use extend:
# 'canary','python','tarantula'

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon', 'gold fish', 'canary', 'python', 'tarantula']

In [ ]:
# 26. Alphabetize the list:

['bunny', 'canary', 'cat', 'chameleon', 'dog', 'gerbil', 'gold fish', 'hamster', 'iguana', 'python', 'tarantula']

In [ ]:
# 27. Reverse the list:

['tarantula', 'python', 'iguana', 'hamster', 'gold fish', 'gerbil', 'dog', 'chameleon', 'cat', 'canary', 'bunny']

In [ ]:
# 28+ Remove the hamster by name

['tarantula', 'python', 'iguana', 'gold fish', 'gerbil', 'dog', 'chameleon', 'cat', 'canary', 'bunny']

In [ ]:
# 29. Pop iguana by index
# get index of iguana

iguandex: 2
['tarantula', 'python', 'gold fish', 'gerbil', 'dog', 'chameleon', 'cat', 'canary', 'bunny']

In [ ]:
# CHALLENGE: Pop whatever is right after the 'python' (should be the 'gold fish')
# first get the index of the python
# 'python'

print('pythondex:')
# then just pop the item at pythondex + 1

print('popped_pet:')

pythondex: 1
popped_pet: gold fish
['tarantula', 'python', 'gerbil', 'dog', 'chameleon', 'cat', 'canary', 'bunny']

In [ ]:
# 30. Insert item at index
# add a parrot at index 5
# "parrot"

['tarantula', 'python', 'gerbil', 'dog', 'chameleon', 'parrot', 'cat', 'canary', 'bunny']

In [ ]:
# challenge: insert a new pet "turtle" right after the "cat" to keep the cat away from the canary:
# a.) get index of 'cat'

print('catdex:')
# b.) insert 'turtle' at index of cat +1
# "turtle"

catdex: 6

['tarantula', 'python', 'gerbil', 'dog', 'chameleon', 'parrot', 'cat', 'turtle', 'canary', 'bunny']

In [ ]:
# 31. list_copy = list.copy()
# a str, int, float can be copied directly from one var to another
# the new var is its own independent entity


# but a copy of a list is just a reference to the original;
# change the copy and the original changes too.
# 'apple','banana','cherry'

print('fruits1:')
print('fruits2:')

print('fruits1:')
print('fruits2:')

6 36
apple pear
fruits1: ['apple', 'banana', 'cherry', 'mango']
fruits2: ['apple', 'banana', 'cherry', 'mango']
fruits1: ['apple', 'banana', 'cherry', 'mango', 'kiwi']
fruits2: ['apple', 'banana', 'cherry', 'mango', 'kiwi']

In [ ]:
# list2 = list1.copy()

print('fruits1:')
print('fruits_copy:')

fruits1: ['apple', 'banana', 'cherry', 'mango', 'kiwi']
fruits_copy: ['apple', 'banana', 'cherry', 'mango', 'kiwi']

In [ ]:
# add 'papaya' to fruits_copy

print('fruits1:')
print('fruits_copy:')

fruits1: ['apple', 'banana', 'cherry', 'mango', 'kiwi']
fruits_copy: ['apple', 'banana', 'cherry', 'mango', 'kiwi', 'papaya']

### **Set** (a list-like structure but having only unique values)
- items in a set are all unique
- items in a set are wrapped in { }
- items in a set are not stored by index
- items in a set are printed randomly
- **set(list)** takes a list as its input and returns a set
- **list(set(list))** returns a new list of unique items

In [ ]:
# 32. Add some duplicate pets 
# 'tarantula', 'iguana', 'python', 'iguana', 'iguana', 'gerbil', 'dog', 'iguana', 'chameleon', 'iguana', 'cat', 'canary', 'iguana', 'bunny', 'iguana'

- **my_set = set(my_list)** returns a set from list argument
- **my_no_dups_list = list(set(my_list))** returns a list w no duplicates from a set argument

In [ ]:
# 33. Get a set of unique pets by making a set from the list and then listifying that

print('pets_set:')
# back to list from set:

print('unique_pets_list:')

pets_set: {'chameleon', 'iguana', 'dog', 'python', 'gerbil', 'tarantula', 'cat', 'canary', 'bunny'}
unique_pets_list: ['bunny', 'canary', 'cat', 'chameleon', 'dog', 'gerbil', 'iguana', 'python', 'tarantula']

In [ ]:
# 34. Sorting numbers is just like sorting strings
# 4,5,62,-3,21,22,18,78,-1

[-3, -1, 4, 5, 18, 21, 22, 62, 78]

In [ ]:
# CHALLENGE A: Pop by index: get rid of the item right before the 18

[-3, -1, 4, 18, 21, 22, 62, 78]

In [ ]:
# CHALLENGE B: Insert ferret as first item in unique_pets_list: ['bunny', 'canary', 'cat', 'chameleon', 'dog', 'gerbil', 'iguana', 'python', 'tarantula']

['ferret', 'bunny', 'canary', 'cat', 'chameleon', 'dog', 'gerbil', 'iguana', 'python', 'tarantula']

In [ ]:
# CHALLENGE C: Insert 0 into nums list at its correct position in ascending order at index 2
# [-3, -1, 4, 5, 18, 21, 22, 62, 78]

[-3, -1, 0, 4, 18, 21, 22, 62, 78]

- **sum(list_of_nums)** returns the sum of all the nums in the list
- **min(list_of_nums)** returns the min value of the nums in the list
- **max(list_of_nums)** returns the max value of the nums in the list

In [ ]:
# 35. Get the sum of all the numbers in nums

print('nums_sum:')

nums_sum: 201

In [ ]:
# 36. Get the min and max values in nums list

print('min_num:','\nmax_num:')

min_num: -3
max_num: 78

###**Vector Operation** : doing math across lists (which are vectors)

In [ ]:
# 37. You can add two lists together with +
# 'turtle', 'spider monkey', 'gold fish', 'mink'
print('all_pets:')

24 all_pets: ['tarantula', 'python', 'gerbil', 'dog', 'chameleon', 'parrot', 'cat', 'turtle', 'canary', 'bunny', 'ferret', 'bunny', 'canary', 'cat', 'chameleon', 'dog', 'gerbil', 'iguana', 'python', 'tarantula', 'turtle', 'spider monkey', 'gold fish', 'mink']

In [ ]:
# all_pets has 24 items, but not all unique
# get rid of duplicates but keep list format

print('all_unique_pets:')

15 all_unique_pets: ['bunny', 'canary', 'cat', 'chameleon', 'dog', 'ferret', 'gerbil', 'gold fish', 'iguana', 'mink', 'parrot', 'python', 'spider monkey', 'tarantula', 'turtle']

In [ ]:
# 38. Vector operations can also be with *

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']