# **Variable**:
a named holder of a *value*
### **Datatype**:
variables come in different datatypes:
- str: string is text in quotes
- int: integer (whole number, pos or neg)
- float: number with decimal point
- bool: boolean (True of False)
- list: multiple values in one variable  

**Markdown** is for explaining what the code does!

## **Hello World**

In [216]:
# print the standard first msg:
print("Hello World")

Hello World

## **String (str)**

In [217]:
# comments are written with code but are not run as code
# comments are preceded by a hash tag / pound sign

# 1. Declare a few string variables and assign values w =
# string values go in quotes
first_name = "Brian"
lastName = 'McClain' # camel case (is more a JS thing)
last_name = 'McClain'
print(first_name, lastName, " - Python Instructor")

# = is the Assignment Operator
# value at right is assigned to variable at left
# var_name = some_value

Brian McClain  - Python Instructor

### **variable naming rules vs. conventions**
**rules** must be followed or your code breaks
- no spaces in var names
- no special chars or punc (only letters, digits and underscore)
- cannot start with a number (**1day** is bad; **day1** or **_1day** are good)
- cannot use reserved words as var names (no print, str, len, input, type, etc.)
  - if you mess up by using a reserved word, such as input, as a variable name, you must re-start the session; choose **Runtime > Restart session and run all**.
  

**conventions** are best practices, but do NOT break your code when violated

- use "snake case" (first_name) instead of "camel case" (firstName)
- keep names short, yet meaningful (t is too short, employee_telephone_number is too long; tel or emp_tel is better)
- all lowercase (first_name not First_name)
- constants are all uppercase (NYC_SALES_TAX), meaning value is not to be changed

### **print(input)**
built-in function that prints its input

In [218]:
# 2. Print the names:
print(first_name, lastName)

Brian McClain

### **concatenation with + operator**
combining 2+ strings into one bigger string

In [219]:
# 3. Make a var w concatenated value:
full_name = first_name + " " + last_name
print(full_name)

Brian McClain

In [220]:
# 4. Challenge: declare a var called name_tag
# when printed , it should introduce yourself:
# Hello! My name is Brian McClain
# Hint: Use + to concatenate the name tag string from existing variables
# mixed with sub-strings, such as: "Hello! My name is "
name_tag = "Hello! My name is " + first_name + " " + last_name + "!"
print(name_tag)

Hello! My name is Brian McClain!

- **type(var)** returns the datatype of the **var**
- **function(argument)** the input of a function is the **argument**
- the "answer" is known as the **return value**

- **len(str)** returns the number of chars in a string
- **len(list)** returns the number of items in a list

In [221]:
# 5. Print the datatype of name_tag
# 'apple','banana','cherry'
print(type('apple')) # str
print(type(86)) # int
print(type(3.14)) # float
print(type(5 > 9)) # bool
print(type(['apple','banana','cherry'])) # list
print(len('apple') > len('banana')) # False
# len(list), len(str) returns num items in list or str
print(len(['apple','banana','cherry'])) # 3
print(len('apple')) # 5
print(len('cherry') > len('apple')) # True
print('cherry' > 'apple') # True
# strings lowest to greatest value: '0123456789ABCDEF..XYZabcdef..xyz'
print('Cherry' > 'apple') # True
print(1001 > 25) # True
print('1001' > '25') # False (stringy numbers)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
False
3
5
True
True
False
True
False

In [222]:
# 6. Challenge: Print the the number of chars in name_tag
#    and print a check to see if that number is greater than 30 
#    (True or False)
name_len = len(name_tag)
print("Number of chars in name tag:", name_len)
print("More than 30 chars?", name_len > 30)
print("More than 35 chars?", name_len > 35)

Number of chars in name tag: 32
More than 30 chars? True
More than 35 chars? False

#### resolving nested string quote conflicts

In [223]:
# 7. Declare a string that contains an apostrophe:
# to avoid nested quote conflict error
# client_name = 'Jane O'Brien'
# print(client_name)

# A.) mix-and-match quotes:
client_name = "Jane O'Brien"
print(client_name)

# B.) escape nested quote w backslash \
client_name = 'Jane O\'Brien'
print(client_name)

# reverse version: string in double quotes:
# mix and match -- keep the double quotes for 
# the actual spoken dialogue
statement = 'He said: "Give me my money!"'
print(statement)
# escape 
statement = "He said: \"Give me my money!\""
print(statement)

# if you have BOTH single and double quotes in the string, just escape on the conflicting one
statement = 'O\'Neal said: "Give me my money!"'
print(statement)
statement = "'O'Neal said: \"Give me my money!\""
print(statement)

# Triple-Doubles """ ESCAPE EVERYTHING:
# AND allows tabs and line breaks, which regular
# string quotes do NOT allow:
dialogue = """
    O'Neal said: "Give me my money!", 
    O'Malley said: "Nothin' doin'!
"""
print(dialogue)
# save triple-doubles for complex strings with lots of interior conflicting quotes; else it is overkill:
print("""Hello World""")

Jane O'Brien
Jane O'Brien
He said: "Give me my money!"
He said: "Give me my money!"
O'Neal said: "Give me my money!"
'O'Neal said: "Give me my money!"

    O'Neal said: "Give me my money!",
    O'Malley said: "Nothin' doin'!

Hello World

**str[index]** gets the char at numeric position
- **str[0]** is the first char of a string
- **str[-1]** is the last char of a string

**list[index]** gets the item at numeric position
- **list[0]** is the first item of a list
- **list[-1]** is the last item of a list

In [224]:
fruits = ['apple','banana','cherry']
print(len(fruits)) # 3
# get first item in fruits
print(fruits[0]) # apple
# get last item in fruits
print(fruits[2]) # cherry
print(fruits[-1]) # cherry

pet = "bunny"
# challenge: get the "b" and "y" in "bunny"..
print(len(pet))
print(pet[0]) # b
print(pet[1]) # u
print(pet[-1]) # y

# get the middle letter of any str:
phrase = "cherryonthesundae"
mid_pt = len(phrase) / 2
print("mid_pt:",mid_pt) # 14.5
mid_pt = int(len(phrase) / 2) # int(float) and rounds it down
print("mid_pt:",mid_pt) # 14
print("mid char:",phrase[mid_pt]) # r

3
apple
cherry
cherry
5
b
u
y
mid_pt: 8.5
mid_pt: 8
mid char: t

## **Integer (int) and Decimal (float)**

In [225]:
# 8. Declare an integer (whole number) variable:
food_tot = 65
print(food_tot, type(food_tot)) # int
SALES_TAX = 0.0875 # 8.875 %
print(SALES_TAX, type(SALES_TAX)) # float
# uppercase constants (not to be changed)
food_amt = " 57 " # numbers in quotes are strings, call 'em digits
print(food_amt, type(food_amt)) # str 
print(len(food_amt)) # 2
# convert stringy num to actual num:
food_amt_int = int(food_amt)
print(food_amt_int, type(food_amt_int)) # str 
# int can only convert stringy digits or floats to int:
x = int("565")
print(x, type(x))
price = int(49.95) # int() throws away / truncates decimal
print(price, type(price))
# round(float) rounds off properly:
price = round(49.95) 
print(price, type(price))

65 <class 'int'>
0.0875 <class 'float'>
 57  <class 'str'>
4
57 <class 'int'>
565 <class 'int'>
49 <class 'int'>
50 <class 'int'>

### **Math Operators**
### +  -   *  /  **  % //
- ** is for exponents (x ** 3 = 125)
- % is modulus operator: n1 % n2 returns remainder of n1 / n2
- // rounds down, so is like int()

In [226]:
# 9. Take the math operators for a spin:
x = 5
print('x:', x)

# expression: setting a var's value in terms of another var
y = x + 3
print('y:', y) # 8

y = x - 2
print('y:', y) # 3

y = x * 7
print('y:', y) # 35

y = x / 2
print('y:', y) # 2.5 <class 'float'>

y = x ** 2 # x squared
print('y:', y) # 25

# returns remainder of x divided by 2
y = x % 2 # 'mod 2' provides a way to check odd vs even
print(y) # 1

x: 5
y: 8
y: 3
y: 35
y: 2.5
y: 25
1

### stringy numbers: digits of string datatype

In [227]:
# 10. Declare a "stringy number" and an actual number
#     and try to add them together:
# int or str ??
test_score = 88
bonus_pts = 3
revised_score = test_score + bonus_pts
print(revised_score)

# test_score = test_score + bonus
test_score = 88
bonus_pts = "3" # "stringy number"
bonus_pts = int(bonus_pts)
revised_score = test_score + bonus_pts
print(revised_score)

# can only do math with actual numbers (NO stringy numbers)
# conversely, can only do concatenation with strings:
# score_report = "Your test score: " + revised_score
# print(score_report)
# to concatenate with number, convert num to string with str()
score_report = "Your test score: " + str(revised_score)
print(score_report)

91
91
Your test score: 91

- **int(stringy_number)** converts stringy number to integer
- **float(stringy_number)** converts stringy number to float
- **str(number)** converts number to stringy number for concatenation

In [228]:
# 11. Add score and bonus again, but convert score to int:

print() # int or str ??

# 98

# 101.0

# stringify all to get 953
# 953

In [229]:
# 12. Do other math ops with stringy num: they fail too:

# reduce test_score by 10; expected result: 85

# increase by 10%

- **str(number)** converts number to stringy number (for concatenation)

In [230]:
# 13. Likewise, you cannot mix nums and str in concatenation:
#.    So, convert nums into strings with str()
sat_math = 700
sat_verb = 650
sat_score_report = "Your SAT scores: \nMath:\t" + str(sat_math) + "\nVerbal:\t" + str(sat_verb)
print(sat_score_report)

Your SAT scores:
Math:	700
Verbal:	650

## **input("Score:")**
- input() gives a text box to type in
- pass input() the text box label
- set input() equal to variable to save the input

In [231]:
# 14. Set an input() text box equal to a variable
sat_math_score = int(input("SAT Math Score: "))
sat_verb_score = int(input("SAT Verbal Score: "))

In [232]:
# 15. Print the value of the variable and the datatype
print(sat_math_score, type(sat_math_score))
print(sat_verb_score, type(sat_verb_score))

670 <class 'int'>
650 <class 'int'>

In [233]:
# get combined SAT score
combined_sat_score = sat_math_score + sat_verb_score
print("combined_sat_score:", combined_sat_score)

combined_sat_score: 1320

In [234]:
# given total movie minutes
movie_runtime = 139 # minutes => 2h 17m
# calculate IMDB style run time: 2h 19m
# how to get the 2 and the 19 ??
# first the 2:
hrs = int(movie_runtime / 60)
print('hrs:', hrs)
mins = movie_runtime % 60
print('mins:', mins)
imdb_time = str(hrs) + "h " + str(mins) + "m"
print('imdb_time:', imdb_time)

hrs: 2
mins: 19
imdb_time: 2h 19m

### **round(float, num_decimal_places)**

In [235]:
# import the Math module so we can have PI
import math

In [236]:
PI = math.pi
print('PI:', PI) # 3.141592653589793

PI: 3.141592653589793

In [237]:
# 16B. Round off a number and an input:
pi = round(PI,2)
print(pi)

3.14

## **Cafe Bill Calcuator**

In [238]:
# 17. CHALLENGE: Make 3 inputs to capture food, bev and tip
food_tot = float(input("Food $ "))
bev_tot = float(input("Beverage $ "))
tip_pct = float(input("Tip $ ")) # 15
tax_pct = NYC_SALES_TAX = 8.875 # 0.0875

sub_tot = food_tot + bev_tot
tax_tot = sub_tot * NYC_SALES_TAX / 100
tip_tot = sub_tot * tip_pct / 100
total_cost = sub_tot + tax_tot + tip_tot

print("Food: ", '${:,.2f}'.format(food_tot))
print("Bev: ", '${:,.2f}'.format(bev_tot))
print("Tip: ", '{:,.2f}'.format(tip_pct)+'%')
print("Tax: ", str(tax_pct) + '%')
print("Sub-tot: ", '${:,.2f}'.format(sub_tot))
print("Please Pay", '${:,.2f}'.format(round(total_cost,2)))
# expected output: Total: $123.88
# bonus: itemized bill: print all vars
# Python Cafe Guest Check
# Food: $65
# Bev: $35
# 2Sub-tot: $100
# TAX % : 8.875
# Tax: $8.88
# Tip % : 15
# Tip: $15
# Please Pay: $123.88

Food:  $67.60
Bev:  $78.65
Tip:  22.00%
Tax:  8.875%
Sub-tot:  $146.25
Please Pay $191.40

### **'{:,.2f}'.format(x)** vs **round(x,2)**

In [239]:
# rounding to 2 decimal places may result in just one decimal place
x = 8.50001

print()
# to ensure that you always get 2 decimal places, for, say, currency
# dollars and cents, use this special formatting BUT be aware this
# stringifies the value, so you must do all your math first
# '{:,.2f}'
print()

In [240]:
# 18. CHALLENGE: Calcualate the cafe bill from user input
#     and print the itemized bill;

print("Python Cafe Guest Check")

# to resemble dollars and cents, use special formatting:
# '${:,.2f}'.format(8.35487534) ==> $8.35
# "Food: $ "
print("Food Tot: $")

# "Beverage: $ "
print("Beverage Tot: $")

# "Tip: % "
print("Tip Pct: %")

print("Sub-tot: $")

print("Tip Tot: $")

NYC_SALES_TAX = 8.875

print("Tax Tot: $")

print("Please Pay: ")

Python Cafe Guest Check
Food Tot: $
Beverage Tot: $
Tip Pct: %
Sub-tot: $
Tip Tot: $
Tax Tot: $
Please Pay:

In [241]:
# Example output:
#.    Python Cafe Guest Check
#.    Food: $50
#.    Bev:  $50
#.    Tip %  20
#.    Tip:   $20
#.    Tax %  8.875
#.    Tax:   $8.88
#.    Please Pay: 128.88

## **Boolean**
- variable value can only be **True** or **False**
- var name should suggest that it's a boolean

In [242]:
# 19. Declare two booleans, one of each value:
print(2 > 3) # False
print(3 > 2) # True
is_online = True
print("is_online:", is_online)
logged_in = False
print("logged_in:", logged_in)
is_online = False
print("is_online:",is_online)
logged_in = True
print("logged_in:", logged_in)
logged_in = True
print("logged_in:", logged_in)

False
True
is_online: True
logged_in: False
is_online: False
logged_in: True
logged_in: True

#### **not** operator flips boolean

In [243]:
# 20. To flip / toggle a boolean use not operator
# why is this not so great ?
# 21. Flip the booleans using not operator:
print("is_online:",is_online)
is_online = not is_online
print("is_online:",is_online)

print("logged_in:",logged_in)
logged_in = not logged_in
print("logged_in:",logged_in)
# explicitly setting boolean value requires you to know current value
logged_in = not logged_in
print("logged_in:",logged_in)
logged_in = not logged_in
print("logged_in:",logged_in)
logged_in = not logged_in
print("logged_in:",logged_in)
logged_in = not logged_in
print("logged_in:",logged_in)

is_online: False
is_online: True
logged_in: True
logged_in: False
logged_in: True
logged_in: False
logged_in: True
logged_in: False

### **boolean operators** compare 2 values and return **True** or **False**
### boolean operators include: **<, >, <=, >=, ==, !=**

In [244]:
# boolean operators compare 2 values and return a boolean
# operators include , > <= >= == !=
# comparison operators return a boolean
print(3 < 5) # True
print(3 > 5) # False
print(3 <= 3) # True
print(3 >= 2) # True
print(25 == 5**2) # True
print(25 != 5**2) # False

True
False
True
True
True
False

## **List** stores more than one value in same var name
- list items go in [ ] square brackets
- list items are comma-separated
- list items are stored by numeric order (index)
- 1st item in a list is at index 0
- last item is at index -1
- a list is a **vector**, that is, a 1D structure, like a line

In [245]:
# 22. Declare a list of strings
pets = ['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']
print(pets)

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']

**len(list)** returns the number of items in a list

In [246]:
print(len(pets))

6

**list[index]** gets the item at numeric position
- **list[0]** is the first item of a list
- **list[-1]** is the last item of a list

In [247]:
# challenge: get the indicated items from pets list
pets = ['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']
# use negative indexing for items near the end:
print(pets[0]) # bunny
print(pets[-1]) # iguana
print(pets[2]) # dog
print(pets[-2]) # hamster

bunny
iguana
dog
hamster

**list[start_index:end_index_excl]** gets the items from start to end indices
- **list[index:]** gets all items from index to end of list
- **list[0:index]** , **list[:index]** gets all items from start of list to index exclusive

In [248]:
# CHALLENGE: on your own:
pets = ['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']
print(pets[:3]) # first 3 items: ['bunny', 'cat', 'dog']
print(pets[2:-1]) # ['dog', 'gerbil', 'hamster']
print(pets[-3:]) # last 3 items: ['gerbil', 'hamster', 'iguana']
# get all but first and last items: ['canary', 'dog', 'gerbil', 'hamster']
print(pets[1:-1])

# [::] is ALL
print(pets)
print(pets[::])
# [::2] is EVERY OTHER ITEM
# start from beginning, go to end, every other one
print(pets[::2]) # 2 is the STEP
# start from 2nd item, go to end, every other one
print(pets[1::2]) # 2 is the STEP
# [::-1] start at end, go to beginning (go in reverse)
print(pets[::-1]) # -1 is the BACKWARD STEP
# [::-1] start at end, go to beginning (go in reverse)
print(pets[::-2]) # -2 is the BACKWARD SKIPPING STEP

['bunny', 'cat', 'dog']
['dog', 'gerbil', 'hamster']
['gerbil', 'hamster', 'iguana']
['cat', 'dog', 'gerbil', 'hamster']
['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']
['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']
['bunny', 'dog', 'hamster']
['cat', 'gerbil', 'iguana']
['iguana', 'hamster', 'gerbil', 'dog', 'cat', 'bunny']
['iguana', 'gerbil', 'cat']

### **methods** are functions that are called on objects
- a method is preceded by a dot: **variable.method()**
- methods may or may not **return** a value
- list methods include **append(), pop(), sort()**, among others
  - **list.append(item)** adds item to end of list
  - **list.pop()** removes last item from list and returns it
  - **list.pop(index)** removes and returns item at specified index
  - **list.sort()** alphabetizes list of strings; puts numbers in ascending order
  - **list.extend(list)** adds a list to another list
  - **list.reverse()** reverses the order of items in a list
  - **list.remove(item)** removes the item from list, wherever it may be
  - **list.index(item)** returns the index of the item
  - **list.insert(index,item)** adds item to list at index
  - **list.copy()** returns an independent copy of list

In [249]:
pets = ['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']
print()

In [250]:
# 23. Use append() to add a pet to the end of the list:
pets.append('chameleon')
print(pets)

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon']

In [251]:
# add gold fish to end of list
pets.append('gold fish')
print(pets)

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon', 'gold fish']

In [252]:
# pets.append('canary','python','tarantula')
print(pets)
# ERROR: list.append() takes exactly one argument (3 given)

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon', 'gold fish']

In [253]:
# add them as a list which is just one item:
pets.append(['canary','python','tarantula'])
print(pets)

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon', 'gold fish', ['canary', 'python', 'tarantula']]

In [254]:
# 24. Remove the unwanted nested list:
pets.pop()
print(pets)

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon', 'gold fish']

In [255]:
# 25. To add a list to another, keeping it flat, use extend:
pets.extend(['canary','python','tarantula'])
print(pets)

['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana', 'chameleon', 'gold fish', 'canary', 'python', 'tarantula']

In [256]:
# 26. Alphabetize the list:
pets.sort()
print(pets)

['bunny', 'canary', 'cat', 'chameleon', 'dog', 'gerbil', 'gold fish', 'hamster', 'iguana', 'python', 'tarantula']

In [257]:
# 27. Reverse the list:
pets.reverse()
print(pets)

['tarantula', 'python', 'iguana', 'hamster', 'gold fish', 'gerbil', 'dog', 'chameleon', 'cat', 'canary', 'bunny']

In [258]:
# 28+ Remove the hamster by name
pets.remove('hamster')
print(pets)

['tarantula', 'python', 'iguana', 'gold fish', 'gerbil', 'dog', 'chameleon', 'cat', 'canary', 'bunny']

In [259]:
# 29. Pop iguana by index
# get index of iguana
iguandex = pets.index("iguana")
print('iguandex:',iguandex)
pets.pop(iguandex)
print(pets)

iguandex: 2
['tarantula', 'python', 'gold fish', 'gerbil', 'dog', 'chameleon', 'cat', 'canary', 'bunny']

In [260]:
# CHALLENGE: Pop whatever is right after the 'python' (should be the 'gold fish')
# first get the index of the python
# 'python'
pythondex = pets.index('python')
print('pythondex:',pythondex)
# then just pop the item at pythondex + 1
popped_pet = pets.pop(pythondex+1)
print('popped_pet:',popped_pet)
print(pets)

pythondex: 1
popped_pet: gold fish
['tarantula', 'python', 'gerbil', 'dog', 'chameleon', 'cat', 'canary', 'bunny']

In [261]:
# 30. Insert item at index
# add a parrot at index 5
pets.insert(5,"parrot")
print(pets)

['tarantula', 'python', 'gerbil', 'dog', 'chameleon', 'parrot', 'cat', 'canary', 'bunny']

In [262]:
# challenge: insert a new pet "turtle" right after the "cat" to keep the cat away from the canary:
# a.) get index of 'cat'
catdex = pets.index('cat')
print('catdex:',catdex)
# b.) insert 'turtle' at index of cat +1
pets.insert(catdex+1,"turtle")

catdex: 6

In [263]:
print(pets)

['tarantula', 'python', 'gerbil', 'dog', 'chameleon', 'parrot', 'cat', 'turtle', 'canary', 'bunny']

In [264]:
# 31. list_copy = list.copy()
# a str, int, float can be copied directly from one var to another
# the new var is its own independent entity
x = 6
y = x
y = y**2 # 36
print(x,y)

fruit1 = "apple"
fruit2 = fruit1
fruit2 = "pear"
print(fruit1,fruit2)

# but a copy of a list is just a reference to the original;
# change the copy and the original changes too.
fruits1 = ['apple','banana','cherry']
fruits2 = fruits1
fruits2.append('mango')
print('fruits1:',fruits1)
print('fruits2:',fruits2)
fruits1.append('kiwi')
print('fruits1:',fruits1)
print('fruits2:',fruits2)

6 36
apple pear
fruits1: ['apple', 'banana', 'cherry', 'mango']
fruits2: ['apple', 'banana', 'cherry', 'mango']
fruits1: ['apple', 'banana', 'cherry', 'mango', 'kiwi']
fruits2: ['apple', 'banana', 'cherry', 'mango', 'kiwi']

In [265]:
# list2 = list1.copy()
fruits_copy = fruits1.copy()
print('fruits1:',fruits1)
print('fruits_copy:',fruits_copy)

fruits1: ['apple', 'banana', 'cherry', 'mango', 'kiwi']
fruits_copy: ['apple', 'banana', 'cherry', 'mango', 'kiwi']

In [266]:
# add 'papaya' to fruits_copy
fruits_copy.append('papaya')
print('fruits1:',fruits1)
print('fruits_copy:',fruits_copy)

fruits1: ['apple', 'banana', 'cherry', 'mango', 'kiwi']
fruits_copy: ['apple', 'banana', 'cherry', 'mango', 'kiwi', 'papaya']

### **Set** (a list-like structure but having only unique values)
- items in a set are all unique
- items in a set are wrapped in { }
- items in a set are not stored by index
- items in a set are printed randomly
- **set(list)** takes a list as its input and returns a set
- **list(set(list))** returns a new list of unique items

In [267]:
# 32. Add some duplicate pets 
iguana_infested_pets = ['tarantula', 'iguana', 'python', 'iguana', 'iguana', 'gerbil', 'dog', 'iguana', 'chameleon', 'iguana', 'cat', 'canary', 'iguana', 'bunny', 'iguana']

- **my_set = set(my_list)** returns a set from list argument
- **my_no_dups_list = list(set(my_list))** returns a list w no duplicates from a set argument

In [279]:
# 33. Get a set of unique pets by making a set from the list and then listifying that
pets_set = set(iguana_infested_pets)
print('pets_set:', pets_set)
# back to list from set:
unique_pets_list = list(pets_set)
unique_pets_list.sort()
print('unique_pets_list:',unique_pets_list)

pets_set: {'chameleon', 'iguana', 'dog', 'python', 'gerbil', 'tarantula', 'cat', 'canary', 'bunny'}
unique_pets_list: ['bunny', 'canary', 'cat', 'chameleon', 'dog', 'gerbil', 'iguana', 'python', 'tarantula']

In [280]:
# 34. Sorting numbers is just like sorting strings
nums = [4,5,62,-3,21,22,18,78,-1]
nums.sort()
print(nums)

[-3, -1, 4, 5, 18, 21, 22, 62, 78]

In [281]:
# CHALLENGE A: Pop by index: get rid of the item right before the 18
_18dex = nums.index(18)
nums.pop(_18dex-1)
print(nums)

[-3, -1, 4, 18, 21, 22, 62, 78]

In [282]:
# CHALLENGE B: Insert ferret as first item in unique_pets_list: ['bunny', 'canary', 'cat', 'chameleon', 'dog', 'gerbil', 'iguana', 'python', 'tarantula']
unique_pets_list.insert(0,'ferret')
print(unique_pets_list)

['ferret', 'bunny', 'canary', 'cat', 'chameleon', 'dog', 'gerbil', 'iguana', 'python', 'tarantula']

In [283]:
# CHALLENGE C: Insert 0 into nums list at its correct position in ascending order at index 2
# [-3, -1, 4, 5, 18, 21, 22, 62, 78]
nums.insert(2,0)
print(nums)

[-3, -1, 0, 4, 18, 21, 22, 62, 78]

- **sum(list_of_nums)** returns the sum of all the nums in the list
- **min(list_of_nums)** returns the min value of the nums in the list
- **max(list_of_nums)** returns the max value of the nums in the list

In [284]:
# 35. Get the sum of all the numbers in nums
nums_sum = sum(nums)
print('nums_sum:',nums_sum)

nums_sum: 201

In [285]:
# 36. Get the min and max values in nums list
min_num = min(nums)
max_num = max(nums)
print('min_num:',min_num,'\nmax_num:',max_num)

min_num: -3
max_num: 78

###**Vector Operation** : doing math across lists (which are vectors)

In [287]:
# 37. You can add two lists together with +
more_pets = ['turtle', 'spider monkey', 'gold fish', 'mink']
all_pets = pets + unique_pets_list + more_pets
print(len(all_pets), 'all_pets:',all_pets)

24 all_pets: ['tarantula', 'python', 'gerbil', 'dog', 'chameleon', 'parrot', 'cat', 'turtle', 'canary', 'bunny', 'ferret', 'bunny', 'canary', 'cat', 'chameleon', 'dog', 'gerbil', 'iguana', 'python', 'tarantula', 'turtle', 'spider monkey', 'gold fish', 'mink']

In [288]:
# all_pets has 24 items, but not all unique
# get rid of duplicates but keep list format
all_unique_pets = list(set(all_pets))
all_unique_pets.sort()
print(len(all_unique_pets), 'all_unique_pets:',all_unique_pets)

15 all_unique_pets: ['bunny', 'canary', 'cat', 'chameleon', 'dog', 'ferret', 'gerbil', 'gold fish', 'iguana', 'mink', 'parrot', 'python', 'spider monkey', 'tarantula', 'turtle']

In [290]:
# 38. Vector operations can also be with *
print(fruits)
triple_fruits = fruits * 3
print(triple_fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']