# **Variable**:
a named holder of a *value*
### **Datatype**:
variables come in different datatypes:
- **str**: string is text in quotes
- **int**: integer (whole number, pos or neg)
- **float**: number with decimal point
- **bool**: boolean (*True* of *False*)
- **list**: multiple values in one variable  

**Markdown** is for explaining what the code does!

## **Hello World**

In [156]:
# print the standard first msg:
print("Hello World")

Hello World

## **String (str)**

In [169]:
# comments are written with code but are not run as code
# comments are preceded by a hash tag / pound sign

# 1. Declare a few string variables and assign values w =
# string values go in quotes
# camelCase (is more a JS thing)
first_name = "Brian"
last_name = "McClain"

# = is the Assignment Operator
# value at right is assigned to variable at left
# var_name = some_value

### **variable naming rules vs. conventions**
**rules** must be followed or your code breaks
- no spaces in var names
- no special chars or punc (only letters, digits and underscore)
- cannot start with a number (**1day** is bad; **day1** or **_1day** are good)
- cannot use reserved words as var names (no print, str, len, input, type, etc.)
  - if you mess up by using a reserved word, such as input, as a variable name, you must re-start the session; choose **Runtime > Restart session and run all**.
  

**conventions** are best practices, but do NOT break your code when violated

- use "snake case" (first_name) instead of "camel case" (firstName)
- keep names short, yet meaningful (t is too short, employee_telephone_number is too long; tel or emp_tel is better)
- all lowercase (first_name not First_name)
- constants are all uppercase (NYC_SALES_TAX), meaning value is not to be changed

### **print(input)**
built-in function that prints its input

In [170]:
# 2. Print the names:
print(first_name)
print(last_name)
print(first_name, last_name)

Brian
McClain
Brian McClain

### **concatenation with + operator**
combining 2+ strings into one bigger string

In [171]:
# 3. Make a var w concatenated value:
full_name = first_name + " " + last_name
print(full_name)

Brian McClain

In [172]:
# 4. Challenge: declare a var called name_tag
# when printed , it should introduce yourself:
# Hello! My name is Brian McClain
# Hint: Use + to concatenate the name tag string from existing variables
# mixed with sub-strings, such as: "Hello! My name is "
first_name = "Bob"
last_name = "Smith"
name_tag = "Hello! My name is " + first_name + " " + last_name
print(name_tag)

Hello! My name is Bob Smith

- **type(var)** returns the datatype of the **var**
- **method(argument)** the input of a method is the **argument**
- the "answer" is known as the **return value**

- **len(str)** returns the number of chars in a string
- **len(list)** returns the number of items in a list

In [184]:
# 5. Print the datatype of name_tag
print(type(name_tag))
print(type('hola'))

# list:
fruits = ["apple",'banana','cherry']
print(len(fruits), type(fruits))

# boolean (comparison operators, <, >, == return True of False)
# == checks for equality does NOT assign value
print(5 < 3)
print(5 > 3)
print(5 >= 5)
x = 5 # = assignment operator
x = 4
print(x > 4)
print(x <= 5)
print(x == 5) # == comparison operator

<class 'str'>
<class 'str'>
3 <class 'list'>
False
True
True
False
True
False

In [187]:
# 6. Challenge: Print the the number of chars in name_tag
print(len(name_tag))
#    and print a check to see if that number is greater than 30
#    (True or False)

print("Number of chars in name tag:", len(name_tag))
print("More than 30 chars?", len(name_tag) > 30)
print("More than 25 chars?", len(name_tag) > 25)

27
Number of chars in name tag: 27
More than 30 chars? False
More than 25 chars? True

#### resolving nested string quote conflicts

In [195]:
# 7. Declare a string that contains an apostrophe:
# to avoid nested quote conflict error
# client_name = 'Jane O'Brien'
# print(client_name)

# A.) mix-and-match quotes:
emp_name = "Jane O'Brien"

# B.) escape nested quote w backslash \
emp_name = 'Jane O\'Brien'

# reverse version: string in double quotes:
# mix and match -- keep the double quotes for
# the actual spoken dialogue
dialog = 'He said: "Give me my money!"'

# escape
dialog = "He said: \"Give me my money!\""

# if you have BOTH single and double quotes in the string, just escape on the conflicting one
# 'O\'Neal said: "Give me my money!"'
print()
statement = 'O\'Neal said: "Give me my money!"'

# Triple-Doubles """ ESCAPE EVERYTHING:
# AND allows tabs and line breaks, which regular
# string quotes do NOT allow:
dialog = """
  O'Neal said: "Give me my money!"
    O'Malley replied: "Nothin' doin'!"
    """

# save triple-doubles for complex strings with lots of interior conflicting quotes; else it is overkill:
print(dialog)

  O'Neal said: "Give me my money!".
    O'Malley replied: "Nothin' doin'!

**str[index]** gets the char at numeric position
- **str[0]** is the first char of a string
- **str[-1]** is the last char of a string

**list[index]** gets the item at numeric position
- **list[0]** is the first item of a list
- **list[-1]** is the last item of a list

In [205]:
fruits = ['apple','banana','cherry']
print(len(fruits)) # 3
# get first item in fruits
print(fruits[0]) # apple
# get last item in fruits
print(fruits[-1]) # cherry
print(fruits[2]) # cherry
# why is -1 "better" than 2 ?
# -1 is reliably the last item

# challenge: get the "b" , "u" and "y" in "bunny"..
# think of a string as like a list of characters
pet = "bunny"
print(pet[0]) # b
print(pet[1]) # u
print(pet[-1]) # y

# get the middle letter of any str:
phrase = "cherryonthesundae"
print(len(phrase))
mid_pt = int(len(phrase)/2)

# int(float) and rounds it down
print("mid_pt:",mid_pt) # 8
# oops! can't use 8.5 as index phrase[8]
# middle char:
mid_char = phrase[mid_pt]
print("mid_char:", mid_char)

3
apple
cherry
cherry
b
u
y
17
mid_pt: 8
mid_char: t

## **Integer (int) and Decimal (float)**

In [220]:
# 8. Declare an integer (whole number) variable:
food_tot = 85
print('food_tot:', food_tot, type(food_tot))
NYC_SALES_TAX = 8.875 # 8.875 %
print("NYC_SALES_TAX:", NYC_SALES_TAX, type(NYC_SALES_TAX)) # float
# uppercase constants (not to be changed)
# numbers in quotes are strings, call 'em digits
bev_tot = "74.50"
print("bev_tot:", bev_tot, type(bev_tot)) # str
# convert stringy num to actual num:
bev_tot = int(float(bev_tot))
sub_tot = food_tot + int(float(bev_tot))
print("sub_tot:", sub_tot, type(sub_tot))
# int can only convert stringy digits or floats to int:
# int() throws away / truncates decimal

# round(float) rounds off properly:
print("bev_tot:", bev_tot, type(bev_tot)) # str

food_tot: 85 <class 'int'>
NYC_SALES_TAX: 8.875 <class 'float'>
bev_tot: 74.50 <class 'str'>
sub_tot: 159 <class 'int'>
bev_tot: 74 <class 'int'>

### **Math Operators**
### +  -   *  /  **  % //
- ** is for exponents (x ** 3 = 125)
- % is modulus operator: n1 % n2 returns remainder of n1 / n2
- // rounds down, so is like int()

In [231]:
# 9. Take the math operators for a spin:
x = 5
print('x:', x)
y = x + 3
print('y:', y)

# expression: setting a var's value in terms of another var
y - x - 2
print('y:', y)

y = x * 7
print('y:', y)

y = x / 2
print('y:', y)

y = x ** 2 # exponentation
print('y:', y)

y = x % 2
print('y:', y)
# 'mod 2' provides a way to check odd vs even

y = x // 2 #  x/2 rounded down
print('y:', y)

x: 5
y: 8
y: 8
y: 35
y: 2.5
y: 25
y: 1
y: 2

### stringy numbers: digits of string datatype

In [109]:
# 10. Declare a "stringy number" and an actual number
#     and try to add them together:
# int or str ??


# test_score = test_score + bonus


# can only do math with actual numbers (NO stringy numbers)
# conversely, can only do concatenation with strings:
# score_report = "Your test score: " + revised_score
# print(score_report)
# to concatenate with number, convert num to string with str()

- **int(stringy_number)** converts stringy number to integer
- **float(stringy_number)** converts stringy number to float
- **str(number)** converts number to stringy number for concatenation

In [110]:
# 11. Add score and bonus again, but convert score to int:

print() # int or str ??

# 98

# 101.0

# stringify all to get 953
# 953

In [111]:
# 12. Do other math ops with stringy num: they fail too:

# reduce test_score by 10; expected result: 85

# increase by 10%

- **str(number)** converts number to stringy number (for concatenation)

In [112]:
# 13. Likewise, you cannot mix nums and str in concatenation:
#.    So, convert nums into strings with str()
# "Your SAT scores: \nMath:\t"

## **input("Score:")**
- input() gives a text box to type in
- pass input() the text box label
- set input() equal to variable to save the input

In [243]:
# 14. Set an input() text box equal to a variable
score = input("Input Test Score: ")
score = float(score)

Input Test Score: 78.25

In [245]:
# 15. Print the value of the variable and the datatype
print('score:',score, type(score))

score: 78.25 <class 'float'>

In [250]:
# get combined SAT score
math_sat = input("Math SAT Score: ")
verb_sat = input("Verb SAT Score: ")
combined_sat_score = math_sat + verb_sat
# oops! it concatenated the scores
print("combined_sat_score:", combined_sat_score) # 650710

Math SAT Score: 750
Verb SAT Score: 520
combined_sat_score: 750520

In [255]:
# get combined SAT score as actual number
math_sat = int(float(input("Math SAT Score: ")))
verb_sat = int(float(input("Verb SAT Score: ")))
combined_sat_score = math_sat + verb_sat
print("math_sat:", math_sat)
print("verb_sat:", verb_sat)
print("combined_sat_score:", combined_sat_score)

Math SAT Score: 750
Verb SAT Score: 560
math_sat: 750
verb_sat: 560
combined_sat_score: 1310

In [261]:
# given total movie minutes
zoo2_runtime = 108
# calculate IMDB style run time: 1h 48m
# how to get the 1 and the 48 ??
# first the 1:
hrs = zoo2_runtime // 60 # 1
mins = zoo2_runtime % 60 # 48
imdb_time = str(hrs) + "h " + str(mins) + "m"
print('imdb_time:', imdb_time)

imdb_time: 1h 48m

### **round(float, num_decimal_places)**

In [274]:
price = 9.49
price = round(price)
print('price:', price)

rating = 4.834151345
print('rating:', rating)
# round to two decimals
rating = round(rating,2)
print('rating:', rating)

price: 9
rating: 4.834151345
rating: 4.83

In [275]:
# import the Math module so we can have PI
import math

In [279]:
PI = math.pi
print('PI:', PI) # 3.141592653589793

PI: 3.141592653589793

In [280]:
# 16B. Round off a number and an input:
PI = round(PI,2)
print('PI:', PI)

PI: 3.14

In [289]:
# input a number, get the area of a circle with that radius
# A = Ï€r2
r = float(input("Input radius of circle, get area : "))
area = PI * r**2
print('area of circle of radius ' + str(r) + ' = ' + str(round(area,2)))

Input radius of circle, get area : 6
area of circle of radius 6.0 = 113.04

## **Cafe Bill Calcuator**

In [303]:
# 17. Make 3 inputs to capture food, bev and tip pct
food = float(input("Food: "))
bev = float(input("Bev: "))
tip_pct = float(input("Tip %: "))
NYC_SALES_TAX_PCT = 8.875 # divide by 100 to calc sales tax
# calculate the total bill incl tax, tip
# if food + bev = 100 AND tip = 15% AND tax = 0.08875
# (8.875% sales tax on $100: $8.88)
sub_tot = food + bev
tip = round(sub_tot * tip_pct / 100,2)
tax = round(sub_tot * NYC_SALES_TAX_PCT / 100,2)
# 15% tip on $100 is $15
# expected output: Total: $123.88
grand_tot = round(sub_tot + tip + tax,2)
# bonus: itemized bill: print all vars
# string concatenation with + and "" impractical here

# use f-formatting instead:
# - one big string, - no + signs,
# - no inner quotes - no str() necessary
# wrap variables in curly braces
bill = f"""Python Cafe Guest Check:
  Food: ${food}
  Bev: ${bev}
  Sub-tot: ${sub_tot}
  TAX % : {NYC_SALES_TAX_PCT}%
  Tax: ${tax}
  Tip % : {tip_pct}
  Tip: ${tip}
  Please Pay: ${grand_tot}"""

print(bill)

print("\nRegular concatantion is MUCH HARDER:")
bill = "Python Cafe Guest Check: \nFood: $" + str(food) + "\nBev: $" + str(bev)
bill += "\nSub-tot: $" + str(sub_tot) + "\nTAX % : " + str(NYC_SALES_TAX_PCT) + "%"
print(bill)
  # Tax: ${tax}
  # Tip % : {tip_pct}
  # Tip: ${tip}
  # Please Pay: ${grand_tot}"""

Food: 54
Bev: 65
Tip %: 20
Python Cafe Guest Check:
  Food: $54.0
  Bev: $65.0
  Sub-tot: $119.0
  TAX % : 8.875%
  Tax: $10.56
  Tip % : 20.0
  Tip: $23.8
  Please Pay: $153.36

Regular concatantion is MUCH HARDER:
Python Cafe Guest Check:
Food: $54.0
Bev: $65.0
Sub-tot: $119.0
TAX % : 8.875%

### **'{:,.2f}'.format(x)** vs **round(x,2)**

## **Boolean**
- variable value can only be **True** or **False**
- var name should suggest that it's a boolean

In [121]:
# 19. Declare two booleans, one of each value:
# False
# True

print("is_online:")

print("logged_in:")


print("logged_in:")

print("logged_in:")

is_online:
logged_in:
logged_in:
logged_in:

#### **not** operator flips boolean

In [122]:
# 20. To flip / toggle a boolean use not operator
# why is this not so great ?
# 21. Flip the booleans using not operator:
print("is_online:")
print("is_online:")

print("logged_in:")

print("logged_in:")
# explicitly setting boolean value requires you to know current value

print("logged_in:")

print("logged_in:")
print("logged_in:")

print("logged_in:")

is_online:
is_online:
logged_in:
logged_in:
logged_in:
logged_in:
logged_in:
logged_in:

### **boolean operators** compare 2 values and return **True** or **False**
### boolean operators include: **<, >, <=, >=, ==, !=**

In [123]:
# boolean operators compare 2 values and return a boolean
# operators include , > <= >= == !=
# comparison operators return a boolean
# False

## **List** stores more than one value in same var name
- list items go in [ ] square brackets
- list items are comma-separated
- list items are stored by numeric order (index)
- 1st item in a list is at index 0
- last item is at index -1
- a list is a **vector**, that is, a 1D structure, like a line

In [124]:
# 22. Declare a list of strings
# 'bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana'

**len(list)** returns the number of items in a list

**list[index]** gets the item at numeric position
- **list[0]** is the first item of a list
- **list[-1]** is the last item of a list

In [125]:
# challenge: get the indicated items from pets list

# use negative indexing for items near the end:

**list[start_index:end_index_excl]** gets the items from start to end indices
- **list[index:]** gets all items from index to end of list
- **list[0:index]** , **list[:index]** gets all items from start of list to index exclusive

In [126]:
# CHALLENGE: on your own:

# first 3 items: ['bunny', 'cat', 'dog']
# ['dog', 'gerbil', 'hamster']
# last 3 items: ['gerbil', 'hamster', 'iguana']
# get all but first and last items: ['canary', 'dog', 'gerbil', 'hamster']


# [::] is ALL

# [::2] is EVERY OTHER ITEM
# start from beginning, go to end, every other one
# 2 is the STEP
# start from 2nd item, go to end, every other one
# 2 is the STEP
# [::-1] start at end, go to beginning (go in reverse)
# -1 is the BACKWARD STEP
# [::-1] start at end, go to beginning (go in reverse)
# -2 is the BACKWARD SKIPPING STEP

### **methods** are functions that are called on objects
- a method is preceded by a dot: **variable.method()**
- methods may or may not **return** a value
- list methods include **append(), pop(), sort()**, among others
  - **list.append(item)** adds item to end of list
  - **list.pop()** removes last item from list and returns it
  - **list.pop(index)** removes and returns item at specified index
  - **list.sort()** alphabetizes list of strings; puts numbers in ascending order
  - **list.extend(list)** adds a list to another list
  - **list.reverse()** reverses the order of items in a list
  - **list.remove(item)** removes the item from list, wherever it may be
  - **list.index(item)** returns the index of the item
  - **list.insert(index,item)** adds item to list at index
  - **list.copy()** returns an independent copy of list

In [127]:
pets = ['bunny', 'cat', 'dog', 'gerbil', 'hamster', 'iguana']

In [128]:
# 23. Use append() to add a pet to the end of the list:
# 'chameleon'

In [129]:
# add gold fish to end of list
# 'gold fish'

In [130]:
# pets.append('canary','python','tarantula')

# ERROR: list.append() takes exactly one argument (3 given)

In [131]:
# add them as a list which is just one item:
# 'canary','python','tarantula'

In [132]:
# 24. Remove the unwanted nested list:

In [133]:
# 25. To add a list to another, keeping it flat, use extend:
# 'canary','python','tarantula'

In [134]:
# 26. Alphabetize the list:

In [135]:
# 27. Reverse the list:

In [136]:
# 28+ Remove the hamster by name

In [137]:
# 29. Pop iguana by index
# get index of iguana

In [138]:
# CHALLENGE: Pop whatever is right after the 'python' (should be the 'gold fish')
# first get the index of the python
# 'python'

print('pythondex:')
# then just pop the item at pythondex + 1

print('popped_pet:')

pythondex:
popped_pet:

In [139]:
# 30. Insert item at index
# add a parrot at index 5
# "parrot"

In [140]:
# challenge: insert a new pet "turtle" right after the "cat" to keep the cat away from the canary:
# a.) get index of 'cat'

print('catdex:')
# b.) insert 'turtle' at index of cat +1
# "turtle"

catdex:

In [141]:
# 31. list_copy = list.copy()
# a str, int, float can be copied directly from one var to another
# the new var is its own independent entity


# but a copy of a list is just a reference to the original;
# change the copy and the original changes too.
# 'apple','banana','cherry'

print('fruits1:')
print('fruits2:')

print('fruits1:')
print('fruits2:')

fruits1:
fruits2:
fruits1:
fruits2:

In [142]:
# list2 = list1.copy()

print('fruits1:')
print('fruits_copy:')

fruits1:
fruits_copy:

In [143]:
# add 'papaya' to fruits_copy

print('fruits1:')
print('fruits_copy:')

fruits1:
fruits_copy:

### **Set** (a list-like structure but having only unique values)
- items in a set are all unique
- items in a set are wrapped in { }
- items in a set are not stored by index
- items in a set are printed randomly
- **set(list)** takes a list as its input and returns a set
- **list(set(list))** returns a new list of unique items

In [144]:
# 32. Add some duplicate pets
# 'tarantula', 'iguana', 'python', 'iguana', 'iguana', 'gerbil', 'dog', 'iguana', 'chameleon', 'iguana', 'cat', 'canary', 'iguana', 'bunny', 'iguana'

- **my_set = set(my_list)** returns a set from list argument
- **my_no_dups_list = list(set(my_list))** returns a list w no duplicates from a set argument

In [145]:
# 33. Get a set of unique pets by making a set from the list and then listifying that

print('pets_set:')
# back to list from set:

print('unique_pets_list:')

pets_set:
unique_pets_list:

In [146]:
# 34. Sorting numbers is just like sorting strings
# 4,5,62,-3,21,22,18,78,-1

In [147]:
# CHALLENGE A: Pop by index: get rid of the item right before the 18

In [148]:
# CHALLENGE B: Insert ferret as first item in unique_pets_list: ['bunny', 'canary', 'cat', 'chameleon', 'dog', 'gerbil', 'iguana', 'python', 'tarantula']

In [149]:
# CHALLENGE C: Insert 0 into nums list at its correct position in ascending order at index 2
# [-3, -1, 4, 5, 18, 21, 22, 62, 78]

- **sum(list_of_nums)** returns the sum of all the nums in the list
- **min(list_of_nums)** returns the min value of the nums in the list
- **max(list_of_nums)** returns the max value of the nums in the list

In [150]:
# 35. Get the sum of all the numbers in nums

print('nums_sum:')

nums_sum:

In [151]:
# 36. Get the min and max values in nums list

print('min_num:','\nmax_num:')

min_num:
max_num:

###**Vector Operation** : doing math across lists (which are vectors)

In [152]:
# 37. You can add two lists together with +
# 'turtle', 'spider monkey', 'gold fish', 'mink'
print('all_pets:')

all_pets:

In [153]:
# all_pets has 24 items, but not all unique
# get rid of duplicates but keep list format

print('all_unique_pets:')

all_unique_pets:

In [154]:
# 38. Vector operations can also be with *