## **Module**
- a module is a library of code that you import
- modules have their own methods and properties
- modules go beyond core python in capabilities

In [101]:
#  %pip magic command ensures the install happens in the same environment your notebook kernel is using.
# %pip install pytz#

In [ ]:
# Import datetime and random modules

In [ ]:
# instantiate the current datetime and local timezone
# 'US/Eastern'

print() # 2025-04-15 10:41:13.253794

2025-04-15 13:35:21.294647

In [ ]:
# 'US/Eastern'

# tz = pytz.timezone('US/Pacific')
# tz = pytz.timezone('GB')
# tz = pytz.timezone('US/Arizona')
# tz = pytz.timezone('Asia/Shanghai')
# 2024-12-09 21:12:06.499933

# adjust our dt to Japan time

print()
print()

2025-04-16 02:35:21.345130+09:00

In [ ]:
# print out selection of timezone codes:

print()
# challenge: print out timezones 500 to 525 only
print()
# where's Japan -- look up its index:

print()
print()

596 <class 'list'>
['Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT']
514
Japan

In [ ]:
# get some indivual date / time values; get the year

print()

2025

In [ ]:
# get month as int

print()

4

### **datetime.strftime(symbol)** returns dates (Month, Day of Week, Date Int)
- **'%B'** for long month (January)
- **'%b'** for short month (Jan)
- **'%A'** for long day (Tuesday)
- **'%a'** for short day (Tue)
- **'%D'** for today's date as mo/date/yr
- **'%d'** for date number as string
- **'%H'** for hour (0-23) as string
- **'%M'** for minute (0-59) as string

In [ ]:
# get full month string
# '%B'
print()
print()

April
2025-04-15 13:35:21.294647

In [ ]:
# get abbrev month string
# '%b'
print()

Apr

In [ ]:
# get full day string
# '%A'
print()

Tuesday

In [ ]:
# get abbrev day string
# '%a'
print()

Tue

In [ ]:
# get today's date as month / date / year
# '%D'
print()

04/15/25

In [ ]:
# get just the date as int (28) -- strftime returns strings only, 
# so pass result to int()
# '%d'
print()

15 <class 'int'>

In [ ]:
# get current hour

print() # 0-23

13

In [ ]:
# get current minute

print()

35

In [ ]:
# get current second

print()

21

In [ ]:
# get full time in mil format
# '%H:%M'
print()
# easier than concatenating the time:
print()

13:35
13:35

In [ ]:
# '%H:%M'
print()

02:35

In [ ]:
# get AM-PM time
# '%I:%M %p'
print() # 11:59 PM

02:35 AM

In [ ]:
# get todays full date
# '%A, %B %d, %Y'
print()

Tuesday, April 15, 2025

In [ ]:
# get todays abbrev date
# "%a, %b %d, '%y"
print()

Tue, Apr 15, '25

In [ ]:
# CHALLENGE: 
# # if-elif-else with datetime module
# make a "Timely Greeting" based on current hour
# don't just print the greeting -- save it to a variable
# then print the greeting variable
# hard code hr for testing
# start w empty string
# "Good Morning"
# check 12-18 range
# "Good Afternoon"
# hr is 18-23
# "Good Evening"
# 0-23

# greeting

# check if hr is less than 12
# "Good Morning"
# check if hr is 12-17
# "Good Afternoon"
# hr is 18+
# "Good Evening"
    
print()

Good Afternoon

In [ ]:
# CHALLENGE:
# validate number range in if-elif-else
# scenario: user enters a test score from 0-100
# code prints letter grade from A-F
# assume digit input BUT do not assume 0-100
# reject neg nums and nums greater than 100:
# "Invalid Input! Score must be 0-100"
# any float should be rounded off to nearest int
# sample output:
# Score: 97 - Grade: A
# Score: 87 - Grade: B
# Score: 77 - Grade: C
# Score: 67 - Grade: D
# Score: 57 - Grade: F
 

print("Improper Grade Value")

# grade must be at least 90 if you made it this far

    
# "Score: - Grade: "
print()

Score: 88 - Grade: B

In [ ]:
# generate a random number

print() # 0.5789948590199665

# multiply r by 1000 and round it off

print()

0.5155081602546917
516

### **random.randint(min,max_incl)**
- returns a random integer in the min-max range
- max value is inclusive

In [ ]:

print() # getting a 5 proves that the end value is INCLUSIVE

5

In [ ]:
# challenge: generate 2 random SAT scores, one Math, one Eng
# SAT scores are in 200-800 range (make the minimum 400)
# and print a message
# BONUS: Make the scores end in ZERO
# HINT: a number in the 40-80 range is a good start..

 
# "Your SAT Score Report: Math: | Eng: "
# "Your SAT Score Report: Math:  | Eng: "
print()

Your SAT Score Report: Math: 750 | Eng: 720

### **random.randrange(min,max,step)**
- returns a random integer in the min-max range, with values in the step increment

In [ ]:
# OR: have score end in 10 by adding STEP of 10


# "Your SAT Score Report: Math:| Eng: " 
print()

Your SAT Score Report: Math: 790 | Eng: 470

### - **in** and **not in** check if value and returns a boolean
### - **if item in list** or **if item not in list**
### - **if score.isdigit()** or **if not score.isdigit()**

### **input() validation** reject non-digits
- **score.isdigit()** returns True if score is digits (which can be converted to actual number)
- **not score.isdigit()** returns True if score is NOT digits (which CANNOT be converted to actual number)

```python
score = input("Score: ")
if not score.isdigit() or int(score) < 0 or int(score) > 100:
    print("Invalid input! Please enter a Score from 0-100")
```

In [ ]:

# reject inputted score if it is NOT digit ("banana") or not in 0-100 range (-50, 150)
print('is invalid input! Score must be number from 0-100')
# else input is valid, so make int from digit and set letter grade based on score
# make int from stringy number
    # eval grade based on score ranges

"cat" is invalid input! Score must be number from 0-100

- ### **input() validation** reject empty strings, digits, or even presence of digits
```python
if not new_pet or new_pet.isdigit() or any(char.isdigit() for char in new_pet):
```
- **if new_pet** returns True if new_pet exists (empty strings return False)
- **if not new_pet** returns True if new_pet is empty string
- **new_pet.isdigit()** returns True if new_pet consists of all stringy digits, such as **"893"**
- **any(char.isdigit() for char in new_pet)** returns True if any chars in new_pet is a digit, such as **"cat99"**

In [ ]:
eligible_pets = ["dog", "cat", "bunny", "hamster", "guinea pig", "goldfish", "parakeet", "canary", "cockatiel", "parrot", "ferret", "turtle", "lizard", "snake", "gecko", "chinchilla", "hedgehog", "mouse", "rat", "frog", "zebra fish", "newt", "salamander", "tarantula", "hermit crab", "bearded dragon", "tortoise", "mini pig", "gerbil", "alpaca", "goat", "chicken", "duck", "turkey", "sheep", "horse", "pony", "macaw", "chameleon", "iguana"]

pet_shop = [] # new empty list to hold new pets

In [ ]:

# validation: reject if any of these 4 things are True:
# new_pet is an empty string, new_pet is a digit or has a digit in it
# or pet is not in the pet shop
# add cat

"cat5" is not an eligible pet.
['cat', 'dog']

In [ ]:
# CHALLENGE: Given this list of eligible vegetables
eligible_vegetables = ["carrot", "broccoli", "cauliflower", "spinach", "kale", "lettuce", "cabbage", "celery", "cucumber", "zucchini", "eggplant", "bell pepper", "chili pepper", "tomato", "potato", "sweet potato", "onion", "garlic", "leek", "shallot", "radish", "turnip", "beet", "parsnip", "artichoke", "asparagus", "brussels sprouts", "bok choy", "collard greens", "mustard greens", "swiss chard", "green bean", "snap pea", "snow pea", "okra", "butternut squash", "acorn squash", "pumpkin", "yam"]

# plant vegetables here

# make an input
# save result as veg
# reject invalid input: empty string, digits
# if input is valid, next check if veg is eligible
# if eligible and not already in garden, plant it in garden
# do not plant same veg twice
# run until you have several unique veg
# BONUS: when you get to 10 veggies, print "Garden is FULL"
# and do not accept any more veggies OR prompt user to first 
# REMOVE or REPLACE veg to make room for a new one
# SUPER-BONUS: let the user enter "random" to get a random veg added to garden
# random might result in "sorry! This veg is already in the garden! Try again"
# SUPER-UBER-BONUS: remove each item from eligible list so that it can never be chosen again

Garden is Full!
['carrot', 'tomato', 'kale']

In [ ]:
# challenge: generate and print ONE Olympic year (Summer Olympics)
# min: 1896, max: 2024 (1896, 1900, 1904, 1908, 1912, 1929, 1924 ... 2012, 2016, 2020, 2024)
# bonus: handle no-Olympics war years with conditional logic (1916,1940,1944)
# if you get a war year, add or subtract some value to get a valid year

# yr = 1916 # test case
off_yrs = [1916, 1940, 1944]
 
if yr in off_yrs:
    yr += random.randrange(8,20,4)
    
print(yr)

1984

- ### **range(min,max_excl)** returns all numbers in the min-max_excl range
- ### **range(max_excl)** omit min to start at 0
- ### **list(range(min,max_excl))** returns a list of numbers in the min-max_excl range
- ### **random.sample(range(min,max_excl),count)**
- returns multiple unique random ints in the min-max range

In [ ]:
# make a list of consecutive ints using range(min,max_excl)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# make a lottery ticket of 5 unique rand ints in the 1-69 range:

# CHALLENGE:
# i.) Sort the numbers in ascending order
# ii.) Generate the Powerball number (1-26) and add it to the list
# iii.) print 6-number ticket: 5 unique nums (1-69) + powerball (1-26)

[6, 10, 13, 44, 50]
[6, 10, 13, 44, 50, 11]

### **random.shuffle(list)**
- randomizes (shuffles) the items in a list
- shuffle operates in place -- no return value

In [ ]:
# make a list of consec ints from 1-52

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52] <class 'list'>

In [ ]:
# shuffle the deck of cards:

[32, 45, 26, 4, 11, 27, 10, 16, 40, 9, 47, 43, 42, 33, 8, 18, 5, 2, 7, 36, 35, 44, 37, 19, 29, 49, 20, 1, 48, 3, 12, 30, 41, 39, 31, 50, 52, 22, 23, 6, 28, 17, 38, 51, 21, 24, 25, 34, 14, 13, 15, 46]

In [ ]:
# sort the shuffled deck (put back to original state)

None

- **mutable vs immutable**
- **mutable** can be changed (lists are mutable)
    - proof of this is we can do stuff to a list (call methods on it)
    - the list method call is not always set equal to a variable
    - this proves that the change to the list occurred "in place" 
    - hence the term mutable

In [ ]:
# lists, being mutable, can be changed "in place" (no assignment =)

# randomize nums in place (do not set move equal to var)
# in other words, do not do this:
# nums = random.shuffle(nums)

# sort nums in place (do not set move equal to var)
# in other words, do not do this:
# nums = nums.sort()

20 3 18 14 16 13 17 9 12 10 7 5 11 4 19 6 2 1 8 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

- **immutable** cannot be changed (strings and nums are mutable)
    - proof of this is we string and int methods don't change anything
    - if you call a method on a str or int w/o setting it equal to var
    - the change may print or appear on the fly but does not persist
    - the change can only "stick" by assignment to var

In [ ]:

# capitalize cat
# cat (change did not "stick" cuz strings are immutable)

Cat
cat
Cat

### **random.choice(list)** returns an item at random from the list

In [ ]:
# pick a random card from the deck_of_cards

39